*{
    padding: 0;
    margin: 0;
    font-family: "Gilrouy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 128, 71);
}
#pannel{
    width: 80%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
}

#tpannel{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 30%;
    justify-content: space-between;
    background-color: rgb(20, 46, 20);
}
.elem{
    display: flex;
    height: 100%;
    gap: 15px;
    align-items: center;
}
.box{
    width: 32px;
    padding: 17px 18px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #fff;
}
#bpannel{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 70px);
}
#bubble{
    width: 60px;
    height: 60px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(4, 63, 4);
}
#bubble:hover{
    background-color: rgba(0, 128, 0, 0.377);
    cursor: pointer;
}