*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.navigation{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* background-color: lightseagreen; */
}
.logo{
    display: flex;
    gap: 14px;
    font-weight: 300;
    font-size: 23px;
    width: 255px;
    height: 42px;
    line-height: 23px;
    padding-left: 81px;
}
.text{
    padding-right: 78px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.text a{
    margin: 35px;
    color: #fff;
    text-decoration: none;
}
.text button{
    width: 124px;
    padding: 15px;
    border: none;
    font-weight: 600;
    border-radius: 14px;
    color: #fff;
    background-color: rgb(14, 179, 179);
}